
<%= form_for @user do |f| %>

<% if flash[:errors]%>
  <ul>
    <% flash[:errors].each do |err_message| %>
      <li>
        <%= err_message %>
      </li>
    <% end %>
  </ul>
<% end %>

  <%= f.label :first_name %><br>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %><br>

  <%= f.label :age %><br>
  <%= f.number_field :age %><br>

  <%= f.label :email %><br>
  <%= f.text_field :email %><br>

  <%= f.label :user_name %><br>
  <%= f.text_field :user_name %><br>

  <%= f.label :horoscope_id %><br>
  <%= f.collection_select :horoscope_id, @horoscopes, :id, :name %><br>

  <%= f.submit %>
<% end %>
