<h1>Form For User</h1>

<% if flash[:errors]%>
<ul>
  <% flash[:errors].each do |t| %>
     <li>
      <%= t %>
     </li>
   <% end %>
<% end %>
</ul>

<%= form_for @user do |f| %>
<%= f.label :first_name %>
<%= f.text_field :first_name %>
<%= f.label :last_name %>
<%= f.text_field :last_name %>
<%= f.label :age %>
<%= f.number_field :age %>
<%= f.label :user_name %>
<%= f.text_field :user_name %>
<%= f.label :horoscope_id %>
<%= f.collection_select :horoscope_id, @horoscope, :id, :name %> ####We need an action page for horoscope#### 
<%= f.submit %>
<% end %>
