<h1><%= @user.username %>'s' Show Page</h1>

<ul>
  <li>
    <p>First Name: <%= @user.first_name %></p>

      <p>Last Name: <%= @user.last_name %></p>

      <p> Age:<%= @user.age %></p>

      <p> Email:<%= @user.email %></p>

      <p>Username: <%= @user.username %></p>

      <p> <%= @user.horoscope.name %></p>

  </li>
</ul>
