<center><h1><%= @user.user_name %>'s' Show Page</h1>

<ul>

    <p>First Name: <%= @user.first_name %></p>

      <p>Last Name: <%= @user.last_name %></p>

      <p> Age: <%= @user.age %></p>

      <p> Email: <%= @user.email %></p>

      <p>Username: <%= @user.user_name %></p>

      <p>Horoscope: <%= @user.horoscope.name %></p>


</ul>

<h2>Check Your Compatibility</h2>

<%= form_for @compatibility do |f| %>

<%=f.label "Your Horoscope"%>
<%=f.collection_select(:horoscope_id, @horoscopes, :id, :name)%>

<%=f.hidden_field :user_id, value: @user.id%>

<%= f.submit "Is It Destined? Or What?" %>
<% end %>

<h4><%= link_to "Edit Account", edit_user_path(@user) %></h4>
</center>
