<center><h1><%= @user.user_name %>'s' Show Page</h1>

<ul>

    <p>First Name: <%= @user.first_name %></p>

      <p>Last Name: <%= @user.last_name %></p>

      <p> Age: <%= @user.age %></p>

      <p> Email: <%= @user.email %></p>

      <p>Username: <%= @user.user_name %></p>



</ul>

<h4><%= link_to "Edit Account", edit_user_path(@user) %></h4>


<h2>Check Your Compatibility</h2>

<%= form_for @compatibility do |f| %>
<% if flash[:errors]%>
  <ul>
    <p>
        <%= "You have already compared against this horoscope" %>
      </p>
  </ul>
<% end %>

<%= f.label "Your Horoscope"%><br>
<%= fields_for :user_id, @user.horoscope do |horoscope| %>
    <%=@user.horoscope.name%><br>
  <% end %>
<br>
<br>
<%=f.label "Their Horoscope"%><br>
<%=f.collection_select(:horoscope_id, @horoscopes, :id, :name)%><br>
<br>
<%=f.hidden_field :user_id, value: @user.id%>

<%= f.submit "Is It Destined? Or What?" %>
<% end %>

<h3>All Compatibilities</h3>
<% @user.compatibilities.each do |compatibility| %>
<li>
<%= link_to "#{compatibility.horoscope.name} Match",compatibility_path(compatibility) %>
</li>
<% end %>
</center>
